# VARIABLES

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero = 3
print(numero)

3

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3. Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(numero)

int

4. Crear una variable que contenga tu nombre

In [4]:
miNombre = 'yeiner'

5. Crear una variable que contenga un número complejo

In [5]:
numComplejo = 5+3j

6. Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(numComplejo)

complex

7.Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

8.Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
true1= 'True'
true2 = True

type(true2)

bool

9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [17]:
print("El tipo de dato creado en true1  es: ",type(true1), " y para la segunda variabla true2, el dato es de tipo: ",type(true2) )

El tipo de dato creado en true1  es:  <class 'str'>  y para la segunda variabla true2, el dato es de tipo:  <class 'bool'>

10. Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
entero = 3
decimal = 12.36
suma = entero + decimal
print(suma)

15.36

11. Realizar una operación de suma de números complejos

In [20]:
complejo1 = 3+5j
complejo2 = 4+40j
sumaComplejo = complejo1 + complejo2
print("la suma de los numeros coomplejos es: ", sumaComplejo)

la suma de los numeros coomplejos es:  (7+45j)

12. Realizar una operación de suma de un número real y otro complejo

In [21]:
numReal = 36
numComplejo2 = 12+56j
sumaCompReal = numReal + numComplejo2
print(sumaCompReal)

(48+56j)

13. Realizar una operación de multiplicación

In [22]:
num1=36
num2 = 45

producto=num1 * num2 
print(producto)

1620

14. Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
potencia = 2**(8)
print(potencia)

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [28]:
cociente = 27/4
print(cociente)

6.75

16. De la división anterior solamente mostrar la parte entera

In [29]:
cociente = 27//4
print(cociente)

6

17. De la división de 27 entre 4 mostrar solamente el resto

In [27]:
print(27%4)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
6*4+3

27

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [32]:
alfa1= "hola "
alfa2 = " mundo"
alfaTotal = alfa1 + alfa2
print(alfaTotal)

hola  mundo

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2" == 2

False

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
int("2") == 2

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
a = float("3.8")
# porque se pone punto para definir laos decimales

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [39]:
valor = 3 
valor -= 4
print(valor)

-1

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1<<2

4

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
2 + '2'

#porque un dato es de tipo letra y el otro es un numero

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26. Realizar una operación válida entre valores de tipo entero y string

In [43]:
2 + int('3')

5